[2017-04-13 14:02] stephenegriffin opened #15 "No guidelines about manifest version # changing"
I just had an application rejected because I changed my manifest but did not increment my manifest version. While it may be obvious to some that you should increment your version, while there may be technical reasons this should be done, nothing in the guidelines even suggests this.

Recommendation: If this is an actual requirement, add it to the guidelines.

Specifically referencing this page: ht

[2017-04-13 14:04] stephenegriffin commented on #15
Section 10 might be the appropriate place to insert the guideline

[2017-04-13 14:08] stephenegriffin commented on #15
I see the FAQ (office-store-submission-faq.md) does say this "You must resubmit add-ins with an updated manifest that includes a new version number. You must also make sure to update the version number in the submission form to match the version number of the new manifest."

That's fine - but if it's not in the guidelines it's not in the guidelines. The FAQ should not have subtle guidelines sprink

[2017-04-13 16:10] Lauragra commented on #15
Hi Stephen, thanks for your feedback. We'll look into updating/clarifying our documentation in the next few days. We'll respond back when we've published an update.

[2017-04-15 16:39] r-vianna opened #16 "encodeURIComponent not working as expected for verification service on node server"
Hello,

I am currently running a node/express server to do license verification for my application.  I am having issues I was able to work around but it does not follow the guidelines provided so I wanted to check if I am missing something.

Currently I am getting the et parameter and base64 decoding it

`var token = new Buffer(req.query.et, 'base64').toString('ascii');`

Then according to the gui

[2017-04-19 12:26] PhilSmail commented on #16
encodeURIComponent does work but you do need to format it correctly

If you do a search for URLencoder on bing the code behind that does the following, which works:
encodeURIComponent(n).replace(/%20/g, "+")

[2017-04-20 02:21] r-vianna commented on #16
Thanks,  I think it may be worth considering updating the docs to reflect the formatting aspect.  From the following section:

It is not obvious (to me anyway) that extra steps are needed beyond using encodeURIComponent.
If you want I would be happy to write you a JavaScript example to use in the docs.

[2017-04-26 01:34] stephenegriffin opened #20 "Validation Policies Should Reference iOS Guidelines"
validation-policies.md needs to incorporate the additional iOS guidelines given in https://github.com/OfficeDev/office-js-docs/blob/master/docs/develop/develop-office-add-ins-for-the-ipad.md

[2017-04-28 00:24] Lauragra commented on #20
Thanks for the feedback. We updated policy 10.8 to include the iOS guidelines. The update should be live on the site shortly.

[2017-04-28 00:24] #20 closed

[2017-05-01 17:37] mcvic1rj opened #24 "Not clear on when/where add-ins can be activated."
It appears that addons cannot be activated when you open either a msg or eml attachment. It looks like this is not documented anywhere.

[2017-05-02 15:56] PhilSmail commented on #24
Hi, I'm not sure I understand the question but this is probably better to ask on stackoverflow. tag the message with office-js

[2017-05-02 15:58] mcvic1rj commented on #24
Hi, I raised this issue per StepheneGriffin. You can check his comment here: https://github.com/stephenegriffin/MHA/issues/12#issuecomment-298379289

[2017-05-03 20:39] jasonjoh commented on #24
Thanks for the feedback @mcvic1rj. This is "kind of" documented here: https://dev.office.com/docs/add-ins/outlook/troubleshoot-outlook-add-in-activation:

I say "kind of" because this definitely could be more discoverable and explicit. I'll take a work item to address this, but it will be a while before I can get to it.

[2017-05-26 18:25] draisy commented on #16
Hi @PhilSmail,

I ran into the same issue as @r-vianna above and was not able to resolve it with your suggestion of

but if I do it this way

then it works successfully. Could the docs be updated to reflect this to save others from this same issue?

Thanks!

[2017-07-11 09:50] fildnet opened #36 "Lead Management information doesn't save despite the positive communicate."
When You choose "Edit Lead Management information" in app details, after information and credential input there is a "Your data has been saved successfully" communicate and after returning to the edit page there is no information at all only unchecked "Leave management" I was using a Chrome browser 59.0.3071.115

[2017-11-14 23:12] viperfx opened #60 "What is lead management and does it actually work?"
I am the developer of a Microsoft Teams app and I have configured Azure table details for lead management.

I know customers have installed the app since I setup lead management but there is no data in the azure table or in the analytics section of the app.

[2017-12-14 14:01] Alan1Mulhall commented on #60
Hi there,

Leads are currently only generated for acquisitions made via the web discovery marketplace, [AppSource](https://appsource.microsoft.com/en-us/). As Teams apps are currently not available on AppSource, no leads will be written.

We'll keep you posted as the lead program for Office developers expands further going forward.

[2017-12-14 14:03] Alan1Mulhall commented on #36
Hi there,

Due to compliance reasons, the form isn't able to pull in your previously entered-data on refresh. Rest assured that if you received the above successful message, your data is indeed saved. Apologies for the confusion here.

[2018-03-14 09:26] OfficeGSX opened #95 "Broken Link"
Link redirects to 404 error message.

**Repro steps:**
1. Go to https://docs.microsoft.com/en-us/office/dev/store/validation-policies
2. Search for "Craft effective AppSource images"
3. Click the link

**Actual results:**
Link redirects to 404
**Expected results:**
Link should redirect to a valid page

**GH article:**
https://github.com/OfficeDev/office-store-docs/blob/live/docs/validation-policie

[2018-03-14 09:30] OfficeGSX opened #96 "Broken link"
Link redirects to a non existing page.

**Repro steps:**
1. Go to https://docs.microsoft.com/en-us/office/dev/store/validation-policies
2. Search for "SharePoint Add-in design guidelines"
3. Click on the link

**Actual results:**
Link redirects to a non existing page
**Expected results:**
Link should redirect to a existing page

**GH article:**
https://github.com/OfficeDev/office-store-docs/blob/l

[2018-03-14 16:20] Lauragra commented on #95
Fixed link and republished the content. Thanks!

[2018-03-14 16:20] #95 closed

[2018-03-15 20:18] jasjitchopra opened #98 "Test token validation returns nothing via the license validation service for outlook add-in"
I am trying to get test token validation working for an Outlook office add-in.

Decoded String:
<r><t aid="WA900006056" pid="bd1fedd2-ff5f-4b8e-ac48-c2b47ee0ce91" oid="3DBFC30C-DBE9-419E-A5FB-1DB48BEDEC1B" did="xxxxxxx.onmicrosoft.com" et="Trial" ad="2018-01-12T21:58:13Z" sd="2018-01-12T00:00:00Z" te="2018-06-30T02:49:34Z" test="1" /><d>VNNAnf36IrkyUVZlihQJNdUUZlYFEfJOeldWBtd3IM=</d></r>

Encoded

[2018-03-18 17:38] jasjitchopra commented on #98
Anyone?

[2018-03-20 11:58] jasjitchopra commented on #98
We fixed this issue via Stack Exchange. The license schema documentation is not good. ts="0" is still required value for test validation to work. I have edited the document and pushed the update via GitHub. Hope others don't go through the same issue and can save time.

[2018-03-20 11:58] #98 closed

[2018-04-13 21:45] wamaina opened #104 "Documentation states that ts is not relevant for office addins"
Here are more details regarding this issue: https://stackoverflow.com/questions/49369921/test-token-for-outlook-add-in-always-returns-null-tags

[2018-04-28 01:56] lindalu-MSFT commented on #15
Added guideline as a note in section 10.3

[2018-04-28 01:56] #15 closed

[2018-04-28 02:00] lindalu-MSFT commented on #104
The documentation has been updated and answer updated on Stack Overflow.

[2018-04-28 02:00] #104 closed

[2018-04-28 02:03] lindalu-MSFT commented on #24
@jasonjoh Has this been addressed? Let me know if I can help resolve and close this issue.

[2018-04-28 02:09] lindalu-MSFT commented on #36
Closing this issues because there doesn't' appear to be a request to update documentation. If you still feel this is an issue, please open a new issue and please include the link to the documentation source. Thanks, lindalu@microsoft.com

[2018-04-28 02:09] #36 closed

[2018-04-28 02:11] lindalu-MSFT commented on #60
@Alan1Mulhall any update here? If not, can you suggest a place to make a note in the documentation? I'm happy to make the change and close this issue. Thanks, lindalu@microsoft.com

[2018-04-28 19:16] #24 closed

[2018-04-30 12:26] Alan1Mulhall commented on #60
Hi @lindalu-MSFT , we have a call-out of this effect in the documentation at https://docs.microsoft.com/en-us/office/dev/store/add-lead-management-details

[2018-05-02 18:29] jasonjoh commented on #24
Linda yes, it's doc'ed here: https://docs.microsoft.com/en-us/outlook/add-ins/. However, I'm noticing that it doesn't include .eml files in the description. Should probably add that. @ElizabethSamuel-MSFT may be able to help there :)

[2018-05-25 23:50] Digitalmatrix2 opened #122 "Bookmark"
Hyw guys can I offer a suggestion. can we bookmark theses pages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da4b471b-b69a-2843-e9dc-dd5816a3ba53
* Version Independent ID: 5d9bf895-6877-8920-1ab5-b238a3d6960d
* Content: [Create your AppSource listing](https://docs.microsoft.com/en-us/office/dev/store/office-store-lis

[2018-06-04 11:44] OfficeGSX opened #125 "[LOC] Link redirects a non existing page"
There is a link which redirects to a non existing page.

**Repro steps**:
1. Go to [https://docs.microsoft.com/en-us/office/dev/store/submit-sharepoint-add-ins-for-office-365-operated-by-21vianet-in-china](https://docs.microsoft.com/en-us/office/dev/store/submit-sharepoint-add-ins-for-office-365-operated-by-21vianet-in-china)
2. See the "21Vianet" link

**Actual results**:
Link redirects to a non

[2018-06-08 08:11] OfficeGSX opened #126 "[LOC] Link redirects to 404 page"
There is a link which redirects to a non existing page

**Repro steps:**
1. Go to https://docs.microsoft.com/en-us/office/dev/store/upload-package
2. GH https://github.com/OfficeDev/office-store-docs/blob/live/docs/upload-package.md
3. See the "Create the package for your Microsoft Teams app" link

**Actual results:**
Link redirects to a non existing page
**Expected results:**
Link redirects a exi

[2018-07-18 07:56] OfficeGSX opened #132 "[LOC] Link redirects to a non existing page"
There is a link redirecting to non existing article

**Repro steps**:
1. Go to https://docs.microsoft.com/en-us/office/dev/store/upload-package
2. Search for "Create the package for your Microsoft Teams app"
3. Click on the link

**Actual results**:
Link redirects to a non existing article
**Expected results**:
Link redirects to a valid article

**GH Article**
https://github.com/OfficeDev/office-s

[2018-07-19 16:21] Linda-Editor commented on #126
This file was moved to a different folder, hence the break. The new file name is https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/apps/apps-package; I replaced the 404 link with this one.

[2018-07-19 16:24] #126 closed

[2018-07-19 16:37] Linda-Editor commented on #125
Fixed link by removing the ".en"; new link is http://www.21vianet.com

[2018-07-19 16:37] #125 closed

[2018-07-26 13:32] shaipetel opened #134 "Respond to customer reviews in AppSource - needs to be updated perhaps"
When we visit the app page and go over comments, logged in as the same user used to submit the app to the store, we only have a "report abuse" link near reviews. the "comment" link is not available.
Please clarify where this link is or why this option is not available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc8

[2018-08-05 15:48] johnatspreadstreet opened #140 "What is the estimated timeline on this working for Appsource and in-client?"
I chose to setup the Azure Table option for our Excel add-in, but at the moment it looks like it only stores placeholder information. Is there are timeline for when this will be implemented? Also, how will the in-client piece work? My guess is that it will still use the "src" and "mrktid" parameters in the url?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-09-25 10:48] Alan1Mulhall commented on #140
Hi there - if you point to which add-in you configured I can take a closer look to see why you're not receiving production leads.

[2018-09-25 10:49] Alan1Mulhall commented on #134
Sorry for the delay here - I'll update this page to reflect that we don't currently support responding to reviews. Apologies for this!

[2018-09-25 12:54] shaipetel commented on #134
@Alan1Mulhall thanks, but are you going to add this option? It is very much needed for vendors.

See, some times a user tries to install a product to do something the product isn't meant to do or he doesn't understand the product and leaves a bad review.

Other times perhaps there was a temporary issue that got addressed and fixed.

Responding to these comments and reviews is of great value both f

[2018-09-26 10:42] vtiti opened #155 "Send customer to the rating page from the add-in"
[The documentation](https://docs.microsoft.com/en-us/office/dev/store/create-effective-office-store-listings#use-ratings-and-reviews) suggests to send the customer directly to the rating page, after a while the user using the add-in.

How can I determine the link for my add-in's feedback/rating page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-10-01 13:54] Alan1Mulhall commented on #155
You can find the URL by going to "my add-ins" in the Office client, and selecting "rate and review" from the options panel.

The basic form of the URL will be like below, but you need to substitute your assetID value in. The assetID can be found in the URL of your AppSource listing.
https://store.office.com/writereview.aspx?assetid=WA104211266

[2018-10-01 13:55] Alan1Mulhall commented on #134
Thanks for the feedback @shaipetel . We're working with the AppSource team to provide this feature again for all app types supported in AppSource, but unfortunately I can't give an ETA quite yet. It's definitely top of mind for us though.

[2018-11-19 21:49] kbrandl commented on #134
@shaipetel thank you for submitting this feature request, and @Alan1Mulhall thank you for acknowledging that the product team is aware of this feature request. Since this GitHub repository (**OfficeDev/office-store-docs**) is for reporting errors/issues with the AppSource [documentation](https://docs.microsoft.com/en-us/office/dev/store/submit-to-the-office-store), I'm closing this issue.

[2018-11-19 21:49] #134 closed

[2018-11-19 22:01] kbrandl commented on #140
@johnatspreadstreet I'm closing this issue due to lack of activity over the past 2 months. If you're still having trouble, please feel free to re-open the issue and/or respond on this thread with the info that @Alan1Mulhall requested. Thanks!

[2018-11-19 22:01] #140 closed

[2018-11-19 22:15] kbrandl commented on #122
@Digitalmatrix2 thank you for submitting this feature request, but issues in this GitHub repository (**OfficeDev/office-store-docs**) are intended for reporting errors/problems with the AppSource [documentation](https://docs.microsoft.com/en-us/office/dev/store/submit-to-the-office-store). Therefore I'm closing this issue, but please consider logging this feature request in [UserVoice](https://off

[2018-11-19 22:15] #122 closed

[2018-11-29 18:39] david-davidson opened #165 "Can I edit release date *after* an app is approved?"
If I want to start the approval process before knowing an exact release date, I might want to:
* Submit my app for approval with a distant release date
* Complete the full approval process
* Later, edit the release date to move it forward

Is it possible to edit the release date after an app is approved? If possible, does that require going through the approval process again?

(P.S. Thanks for the

[2018-11-30 04:42] Lauragra commented on #165
Thanks for reaching out. @PhilSmail , can you please respond? Thanks.

[2018-12-06 11:54] vtiti opened #173 "Recommendation on updating the add-in"
Hi. T

his page describes how to update my submission to the AppSource.
It would be nice if there were some words, how should I handle the submission if I want to update my add-in.

Here is an example scenario:
We submitted an add-in successfully. Then we implement something cool, but it needs to change something in the manifest. When we submit the new manifest it contains the url to the add-in co

[2018-12-06 22:16] Lauragra commented on #173
Thanks for reaching out. @PhilSmail , can you take a look please?

[2018-12-07 20:45] pablodiazgutierrez opened #174 "The Dynamics PDF has a broken link"
I can't download (or find independently) the MicrosoftMarketplacesLeadIntegrationSolution_1_0_0_0_target_CRM_6 file required to setup Dynamics for capturing new leads. Is there an updated version of this document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a79d9f7f-704a-9e9e-3f8a-49969540cbc7
* Version Independent

[2018-12-12 17:24] david-davidson commented on #165
@PhilSmail @Lauragra Hi, have you learned anything more about editing the release date?

Thanks!

[2018-12-13 11:47] PhilSmail commented on #165
Sorry, just seeing this now!

The most common mechanism is to publish with today's date (or a previous date) which means it will publish as soon as it's approved

If you need a specific release date then set the date in the future and we it can be changed. PM me for details

[2018-12-13 15:04] Alan1Mulhall commented on #174
Hi Pablo,

I'm not able to repro this personally - the Dynamics docs I see available are pointing to:
https://smpprodresources.azureedge.net/partnerresources/Partner%20instructions%20-%20Dynamics%20365%20(CRM).pdf

Could you see if these work for you, or point me to where you're seeing the broken link?

[2018-12-13 15:11] pablodiazgutierrez commented on #174
Thanks Alan, sorry, I should have clarified that I see the PDF too, but inside the PDF it refers to a [link to download a solution config file](https://testdriveaccount.blob.core.windows.net/testdrivecon/MicrosoftMarketplacesLeadIntegrationSolution_1_0_0_0_target_CRM_6.1_managed.zip) and that's broken. The fact that the subdomain begins with `testdriveaccount` makes me suspicious.

[2019-01-26 21:49] jlongo62 opened #183 "Monetizing VSTO Add-Ins"
It is really unclear in this page that VSTO add-ins are not supported (unless they are) but I can't figure out how to publish one for monetization. Is there a way to monetize VSTO Add-Ins ? If so do you have a sample walk-through ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd6cdb21-e624-a60d-9dff-e880b28643be
* Ve

[2019-01-29 17:33] Rick-Kirkham commented on #183
VSTO add-ins are not supported in AppSource. To monetize a VSTO add-in, you need to market it in some other way, such as on a website. I will add a note to this effect in the article.

[2019-01-29 17:33] #183 closed

[2019-01-29 17:39] jlongo62 commented on #183
Unfortunately without the store installing win 10 desktop applicatiins is nearly impossible especially if you are inside an enterprise. I’ve tried. It is due to trust issues and certs.

Regards,
Joseph Longo
Microsoft Stack Developer
(703) 819-8048

________________________________
From: Rick-Kirkham <notifications@github.com>
Sent: Tuesday, January 29, 2019 12:33 PM
To: OfficeDev/office-store-doc

[2019-02-01 13:27] OfficeGSX opened #186 "[LOC] Broken link"
There is a broken link in an article

**repro steps**:
1. go to [https://docs.microsoft.com/en-us/office/dev/store/add-license-checks-to-office-and-sharepoint-add-ins](https://docs.microsoft.com/en-us/office/dev/store/add-license-checks-to-office-and-sharepoint-add-ins)
2. Search for "getUserIdentityTokenAsync" link
3. Click on the link

**Actual results**:
Link redirects to a non existing page
**

[2019-03-12 16:34] Lauragra commented on #174
@Alan1Mulhall , did you investigate whether the link is still valid? Thanks.

[2019-03-13 15:12] ElizabethSamuel-MSFT commented on #186
The change should go live soon. Closing out.

[2019-03-13 15:12] #186 closed

[2019-03-13 15:32] ElizabethSamuel-MSFT commented on #186
Actually, the change went live yesterday. Thanks.

[2019-03-21 12:53] OfficeGlobal opened #195 "[LOC] Invalid link in an article"
There is a broken link within an article.

**Repro steps**:
1. Go to https://docs.microsoft.com/en-us/office/dev/store/validation-policies?context=outlook/context
2. Search for the "Guidelines for Power BI visuals with additional purchases"
3. Click on the link

**Actual results**:
Link redirects to a non existing page
**Expected results**:
Link redirects correctly

**GH article:**
https://github.

[2019-03-21 16:31] Lauragra commented on #195
Fixed link in PR #196.

[2019-03-21 16:31] #195 closed

[2019-04-19 09:28] PhilSmail commented on #173
Apologies. Just seeing this now
RE the upgrade the typical way developers deal with this is versioning the URL in the manifest. If you're old version is http://mysite/v1.0 and your new one is http://mysite/v2.0 then your v2.0 URL can provide the new experience before it goes public

Re version numbers. That's an interesting question but it's ultiamtely up to you. The versioning follows the format

[2019-04-19 09:28] #173 closed

[2019-04-19 09:28] #165 closed

[2019-04-19 09:29] #16 closed

[2019-04-19 09:32] #155 closed

[2019-04-19 09:32] #60 closed

[2019-06-04 16:26] ElizabethSamuel-MSFT commented on #174
As @pablodiazgutierrez noted, in the pdf the link to download the solution is invalid:
https://testdriveaccount.blob.core.windows.net/testdrivecon/MicrosoftMarketplacesLeadIntegrationSolution_1_0_0_0_target_CRM_6.1_managed.zip

Can the pdf be updated with a valid link or to include an alternative way to download the solution?

[2019-06-21 20:28] ElizabethSamuel-MSFT commented on #174
@pablodiazgutierrez We're working on getting these docs updated. No ETA yet though. Thanks.

[2019-07-01 04:57] ashishp1709 opened #211 "How can I host app on appsource store as independent contribute"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da4b471b-b69a-2843-e9dc-dd5816a3ba53
* Version Independent ID: 5d9bf895-6877-8920-1ab5-b238a3d6960d
* Content: [Create your AppSource listing - AppSource](https://docs.microsoft.com/en-us/office/dev/store/office-store-listing)
* Content Source: [docs/

[2019-07-18 20:54] chengtie opened #215 "Where can I find who paid for my add-in?"
Hello,

I have an add-in [Funfun](https://appsource.microsoft.com/en-us/product/office/WA104381207), which is a paid add-in with a free trial period. It allowed me to gain some money each month (I got payment notification from Microsoft Partner Center).

However, I don't know where to see who have past the trial period and **paid** this money. This information is obviously essential for my busines

[2019-07-26 09:10] jon3321 opened #218 "Contradictory recommendation of long description"
Under "Effective Long Descriptions" you say "Most users read between 300 and 500 words.". In the table under "Apply guidelines for title and description length", for Long description the recommended length is "300-500 characters". These recommendations are contradictory. I presume the table should say "300-500 words" rather than "300-500 characters"

---
#### Document Details

⚠ *Do not edit this

[2019-09-17 08:40] Alan1Mulhall commented on #218
Thanks for reporting! This has since been fixed.

[2019-09-17 08:40] #218 closed

[2019-10-07 10:35] OfficeGlobal opened #229 "[LOC] Invalid link in an article"
There is a broken link within an article.

**Repro steps**:
1. Go to https://docs.microsoft.com/en-us/office/dev/store/add-license-checks-to-office-and-sharepoint-add-ins
2. Search for the "getUserIdentityTokenAsync"
3. Click on the link

**Actual results**:
Link redirects to a non existing page
**Expected results**:
Link redirects correctly

**GH article:**
https://github.com/OfficeDev/office-sto

[2019-10-07 17:15] Lauragra commented on #229
@ElizabethSamuel-MSFT , can you help identify the target URL for the broken link? Thanks.

[2019-10-08 19:01] #229 closed

[2019-10-14 02:28] arahant2001 opened #237 "Who to turn to for support?"
In the seller dashboard, it says "Account pending approval", but on my developer account (https://partner.microsoft.com/en-US/dashboard/account/management)  the account status is "Authorized". It has been this way for days now, and I'm at a loss to figure out what I should do. Who can I turn to for support on this matter?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-12-10 13:37] sureshjoshi opened #260 "Office 365 validation test results "Contact us""
I received feedback for an AppSource submission, and there are a couple of ambiguous comments in the document that I need more information about. Inside the PDF, it says:

The problem is, there is no contact information or link for WHO to contact. It just says "Contact us".

Who should I be contacting regarding in-progress submissions, and where do I find this contact information?

[2019-12-10 22:33] elegault opened #261 "On-send restrictions"
Shouldn't this page also reference this warning "Add-ins that use the on send feature aren't allowed in AppSource"? (from https://docs.microsoft.com/en-ca/outlook/add-ins/outlook-on-send-addins?tabs=windows)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4c63f26-72a6-8963-e4f0-88d4aa4c6a38
* Version Independent ID: 9b

[2019-12-11 04:45] sureshjoshi opened #262 "Will requirements to test Office Addins on Windows 7 be dropped?"
With Windows 7 leaving extended support on January 14th, 2020 (basically in a month), will the requirements for testing Office Online add-ins in Windows 7 be dropped as well?

[2019-12-18 18:37] mscaitlina commented on #262
I do not have an update at this time, but expect there will be one in the new year.

[2019-12-19 14:35] sureshjoshi commented on #262
@mscaitlina Thanks for the reply!

Could you please direct me as to where I can purchase Windows 7 on the Microsoft store?

I need to install Windows 7, and a desktop version of Word (I have licenses for this), to support my Office Store add-in submission (it's been rejected for failing on Windows 7, Word 2016, IE11).

However, I can't seem to find it (Windows 7) anywhere for legal (or, reputable)

[2019-12-19 16:46] ElizabethSamuel-MSFT commented on #261
@elegault Thanks for letting us know about this. We've updated the policy to include this restriction.

Thanks.

[2019-12-19 16:46] #261 closed

[2020-01-06 22:07] mscaitlina commented on #262
I'm sorry for the delay over the holidays. You can purchase Windows 7 on amazon: https://www.amazon.com/Microsoft-Windows-Home-Premium-GFC-01042/dp/B004STQFJ4/ref=sr_1_9?keywords=windows+7&qid=1578342354&sr=8-9

[2020-01-10 23:17] sureshjoshi commented on #262
Hi @mscaitlina, to close the loop on this - I feel like the Microsoft Edge/IE test environments are a FAR better solution to this problem. I'm also surprised they don't appear to be mentioned in the documentation anywhere.

https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

I'd like to recommend they are added in, mentioning that they're 90 day licensed.

[2020-01-10 23:17] #262 closed

[2020-01-10 23:54] mscaitlina commented on #262
Thank you! We'll follow up on that.

[2020-02-24 16:11] bryanroth commented on #260
Same problem. The contact us link at the bottom of the report links to an empty email address.

[2020-03-01 15:57] deyanskiq opened #296 "Outlook-email-paid-add-ins"
As I understand from the documentation if I want to sell through Microsoft and not to implement my own payment model the add-in will be accessible only to users with work/school emails and people with outlook emails won't be able to use it, is this correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e475466-5221-4

[2020-03-02 17:48] Lauragra commented on #296
@mikeald , assigning to you to follow up. Thanks.

[2020-03-06 14:27] adrianmolzon opened #297 "No Azure Blob Setting in Partner Settings"
When I load up the Partner Center after creating an Azure Blob in the Azure Portal, I only have five options, with the missing option being 'Azure Blob'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6b53e9c-2999-4659-f3b2-ad8b781539b9
* Version Independent ID: 271e7a8d-d27e-d00b-8680-f92f6f3b00a6
* Content: [Add set

[2020-03-06 14:28] adrianmolzon commented on #297
This is in the Lead Management Edit file under the Lead destination dropdown menu.

[2020-03-31 16:07] receiptq opened #300 "Email verification for becoming MPN developer does not work. I get an error when i click the verification button. Also, when I try to 'resend verification email' that does not work either. Anybody have experience with this?"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23aff8f8-a2cc-2722-d806-08d4a8e519ad
* Version Independent ID: 913f49b5-797d-351f-d8f0-59e68f7153f0
* Content: [Make your solutions available in Microsoft AppSource and within Office - Microsoft AppSource](https://docs.microsoft.com/en-ca/office/dev/s

[2020-04-07 17:10] AndreyBestCode opened #301 "Monetising Office addin using own payment model"
I would like to monetise Excel add-in, by creating my own payment and licensing model. I would like allow users to download add-in for free from office store, use it for some time free of charge and later when the initial free offer is expired I will give user and option to buy a licence from my own portal. The payment collection system will be implemented using trusted payment collection provider

[2020-04-09 03:27] Lauragra commented on #301
Hi @AndreyBestCode , yes, you are free to implement your own licensing model and we will display your add-in in the stores when you submit it for validation. Feel free to reopen the issue if you have further questions. Thanks.

[2020-04-09 03:27] #301 closed

[2020-04-10 01:38] jimbarrett33 opened #303 "Feedback on documentation - "Authorize to Microsoft Graph" is confusing and seems out of place"
Just trying to help with the docs...

The section title is "Build an Azure AD connected add-in" and goes on to describe the 3-states of your add-in. Got that. Then the section ends with "to authenticate with Azure AD, see "Authorize to Microsoft Graph" which goes to a page titled "Authorize to Microsoft Graph without SSO"???  Not clear why the add-in cares about Microsoft Graph. I believe it's to

[2020-04-16 21:37] LoveSponge opened #304 "'Overview' link does not link to a page with the 'Create New' option"
could be to do with some behind-the-scenes updates happening to that page but this is the link location:
https://partner.microsoft.com/dashboard/office/overview

and this is the link it sends you to:
https://partner.microsoft.com/en-us/dashboard/directory

What's more, i seem to be unable to 'get started' with the 'Office Store' developer program because it asks me for company details when my comp

[2020-04-17 17:01] Lauragra commented on #304
Hi, we'll look into the link question. In the meantime, please see if this article helps answer your question about the company account: https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/company-work-accounts. Thanks.

[2020-04-17 17:45] LoveSponge commented on #304
Hi Laura,

Thanks for the quick response to my query.

I tried following the link you provided, and it sent me on to make sure the company is set up, which it is.

Maybe you can help me:
I have created an Outlook add-in and am trying to submit it for review to Microsoft. Our company has been set up as a publisher and i can see the publisher details on partner network.

The documentation seems to b

[2020-04-20 21:19] Lauragra commented on #304
Hi,
It might be more expedient for you to file a support ticket here, and they can help you specifically with your account:
https://aka.ms/marketplacepublishersupport

Thanks,
Laura

[2020-05-01 03:40] #304 closed

[2020-05-22 04:54] abhisheknene007 opened #313 "manifest file shows in uploading status from more than 24 hours"
Hi Team,
we are currently working on deploying our sample add-in to office store. we have added our package manifest file in packages tab. Although it shows in uploading status from last 24 hours and we didn't received any error while uploading.

Please suggest. we have also tried removing the package and adding again.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-06-19 11:12] mormond opened #318 "Menu Typo"
There is a typo on the LH menu for this page - it reads "Mange" instead of "Manage"

![image](https://user-images.githubusercontent.com/13424886/85126758-01632e80-b226-11ea-8bcc-d49f2efc3e17.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52857d74-7e76-cbe7-5f3d-bce27e369a46
* Version Independent ID: 174b8aa7-d22c-

[2020-06-20 22:09] Lauragra commented on #318
Thanks; fixed in PR #319

[2020-06-20 22:09] #318 closed

[2020-06-25 04:17] dmakogon opened #321 "Inaccurate reference to Stack Overflow"
At the bottom of this page, guidance is given, pointing people to Stack Overflow for non-programming purposes:

Unfortunately, policy/procedure types of questions will likely be downvoted and/or closed by the community, as they would be considered off-topic. Perhaps these questions could be directed to a more appropriate forum...

I've now seen several questions posted, expecting someone from Micr

[2020-10-21 09:28] t-lm opened #328 "Publishing JS Add-In on Microsoft Partner Center"
Situation:
Microsoft Excel JS Add-in - Trying to publishing on App Source - Fonctionning add-in (local/ azure)

Issue:
The following error is raised when trying to publish the app on Microsoft Partner Center and trying to upload the package (e.g. in my case manifest.xml): "Package acceptance validation error: manifest.xml is an unknown package type. Please name your file with the appropriate file

[2020-10-26 21:38] longnlp opened #329 "Seller Dashboard for U.S. Government Environment"
We are using the Seller Dashboard to manage the client id and client secret, and recent we found the SharePoint Online App is not working in U.S. Government environment like GCC High Office 365 tenant. Is there any separated Seller Dashboard for U.S. Government? Thank you!

The other user is facing the same issue here https://sharepoint.stackexchange.com/questions/283831/sharepoint-add-in-client-i

[2021-01-10 16:18] schostac opened #341 "Indivudal account for developers"
**Individual account for developers** in Partner Centre does not allow to **submit add-ins for Word** - there is no interface for that (more precisely, it always redirects to creating company account) unlike in company account. I've created an add-in for Word but cannot submit to Office Store as an individual. It's not clear from this documentation.

---
#### Document Details

⚠ *Do not edit this

[2021-01-13 13:53] olavt opened #343 "Partner Center role required to add new solution should be documented"
The article mentions that one should create a new solution in Partner center. I think the documentation should state what role the user needs to have in Partner Center in order to have the appropriate permission to perform this operation.

I also tried to find documentation on this by looking here:

https://docs.microsoft.com/en-us/partner-center/permissions-overview

But, it's very hard to see wh

[2021-01-13 21:27] mscharlock commented on #343
@mikeald do you happen to know the answer to this? Thanks

[2021-01-13 21:28] mscharlock commented on #341
@mikeald can you confirm this so docs team can update? Thanks!

[2021-01-13 21:30] mscharlock commented on #329
Hi @longnlp - I believe the answer on Stack is still the same at present. I'm going to close this issue for now, but please re-comment on the issue if you still have questions or need something else. Thanks!

[2021-01-13 21:30] #329 closed

[2021-01-13 21:31] mscharlock commented on #328
Hi @t-lm - We have recently updated the documentation on validation and publishing in this repository. Please go ahead and read these new docs and let us know if you still have questions by commenting on this thread. I am going to close this thread for now but if you comment I will go ahead and re-open this. Thank you!

[2021-01-13 21:31] #328 closed

[2021-01-13 21:32] mscharlock commented on #321
@mikeald are you aware of a different tag that folks can use? Thanks!

[2021-01-13 21:34] mscharlock commented on #313
Hi @abhisheknene007 - Do you still need assistance with this issue? I am closing this thread for now because of the age of the issue, but please re-comment on the thread if you still need anything and we can help resolve. Thanks!

[2021-01-13 21:34] #313 closed

[2021-01-13 21:35] mscharlock commented on #303
@Lauragra can you weigh in on this? Thanks!

[2021-01-13 21:37] mscharlock commented on #300
Hi @receiptq - Do you still need assistance with this issue? I am going through the issues in this repository as they have not been addressed in a while and will be closing this issue because of age. However, if you still need something go ahead and comment and I can reopen the thread. Thanks!

[2021-01-13 21:37] #300 closed

[2021-01-13 21:38] mscharlock commented on #174
@ElizabethSamuel-MSFT do you know if there is any update on this? I'm combing through the backlog of issues in the store repo. Thanks!

[2021-01-13 21:39] mscharlock commented on #211
@ashishp1709 - Do you still require assistance on this issue? I am going to close this issue based on age, but I am happy to reopen if you comment again on this thread. Thank you!

[2021-01-13 21:39] #211 closed

[2021-01-13 21:40] mscharlock commented on #215
@mikeald Do you happen to know the answer to this? I feel like this might be an important detail to add to the docs if we know. Thanks!

[2021-01-13 21:42] mscharlock commented on #237
Hi @arahant2001 - I hope you found some support! Based on the age of this issue I am closing it, but let us know if you need assistance with a comment on this thread and I will go ahead and reopen it. Thank you!

[2021-01-13 21:42] #237 closed

[2021-01-13 21:42] mscharlock commented on #260
@mikeald Just wanted to make sure you were aware of this issue! Thanks

[2021-01-13 21:43] mscharlock commented on #297
@mikeald Is this a bug that has been resolved? Thanks!

[2021-01-13 22:20] mikeald commented on #215
This is something that the Partner Center team ( Ming) would have to answer. All Partner Center related questions should be sent to her.

[2021-01-13 22:23] mikeald commented on #341
You can submit a word add-in but you have to select it as an Office Add-in during submission. If you are an individual and don't have an approved partner center ID you can't publish to the app store.

[2021-01-13 22:28] mikeald commented on #321
You can also ask technical questions to the wider developer community on Stack Overflow..
https://stackoverflow.com/questions/tagged/office-store/

Customer Support questions should be directed to aka.ms/marketplacepublishersupport

[2021-01-13 22:30] mikeald commented on #297
@mscharlock I'm not the right person for this issue. This is an Azure issue in partner center not M365 or validation. I would direct them to  aka.ms/marketplacepublishersupport

[2021-01-13 22:33] ElizabethSamuel-MSFT commented on #174
@Alan1Mulhall Any update here? Thx.

[2021-01-13 22:40] mscharlock commented on #297
Hi @adrianmolzon - if you can go ahead and contact folks through aka.ms/marketplacepublishersupport, that would be great. Because of the age of this issue, I will be closing it but if you need additional assistance I can reopen the thread if you comment on it. Thank you!

[2021-01-13 22:40] #297 closed

[2021-01-13 22:42] mscharlock commented on #215
Ok, will do! Thanks :)

[2021-01-13 22:42] mscharlock commented on #343
Ok, sounds like a plan - sent these issues her way. Thanks!

[2021-01-14 04:45] abhisheknene007 commented on #313
Ok will check the issue if still persists I will drop a comment on the
thread.

On Thu, Jan 14, 2021, 03:04 Michelle Scharlock <notifications@github.com
wrote:

[2021-01-14 07:27] t-lm commented on #328
Thanks. Will check it out. Best

Le 13 janv. 2021 à 22:31, Michelle Scharlock <notifications@github.com<mailto:notifications@github.com>> a écrit :

Hi @t-lm<https://github.com/t-lm> - We have recently updated the documentation on validation and publishing in this repository. Please go ahead and read these new docs and let us know if you still have questions by commenting on this thread. I am goin

[2021-01-19 22:40] schostac commented on #341
0. The wording like

is the root cause of I the problems that I have experienced with this Partner Center. What you basically say is that an individual cannot publish without a registered company.

1. If you go to https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish ("**Deploy and publish Office Add-ins**"), then click on "**AppSource**" and go to https://docs.microsoft.com/en-us/of

[2021-01-23 01:46] mscharlock commented on #341
Hi @schostac - Sorry this has been frustrating for you. Thanks for pointing out the redirect bug, I will go ahead and update this section of the documentation because as you say, it is confusing! And thank you for the feedback about the policy, I will let the PM team know about your thoughts.

[2021-01-23 01:47] mscharlock commented on #321
Hi @dmakogon - I am going to close this issue for now, but if you require additional help, let us know with a comment on this thread and I can reopen it. Thank you!

[2021-01-23 01:47] #321 closed

[2021-02-03 20:55] Lauragra commented on #303
@Rick-Kirkham , I think you own add-in authentication? Can you take a look please?

[2021-02-03 20:55] mscharlock commented on #341
Hi @schostac - I have updated the docs and am going to close this issue but let us know if you need assistance with a comment on this thread and I will reopen. Thanks!

[2021-02-03 20:55] #341 closed

[2021-02-03 21:02] mscharlock commented on #296
Hi @deyanskiq - Do you still need help with this issue? I am going through this repo to close out old issues. If you still need help, go ahead and leave a comment on this thread and I will reopen the issue. For now I am going to close. Thanks!

[2021-02-03 21:02] #296 closed

[2021-02-03 21:03] mscharlock commented on #260
Hi all, I believe this issue should be fixed in the new validation flow. If not, go ahead and leave a comment on this issue and I will re-open it to investigate. Thanks!

[2021-02-03 21:03] #260 closed

[2021-02-03 22:06] Rick-Kirkham commented on #303
@jimbarrett33 I've replaced that link with two links that more appropriate. It should be republished in the next few days.

[2021-02-03 22:12] #303 closed

[2021-02-20 13:33] stewa11 opened #349 "Unhappy: Cannot publish Add-In to Office Store :-("
[Dear MS,
I am a private individual and do not have a company email.
This means I cannot register in https://partner.microsoft.com/en-us/dashboard/directory for Office Store. This in turn means I cannot publish my Add-Ins.

I find this wholly unfair.

**Can you help me publish my add-on please?**

Yours Sincerely
Stewart Muscutt
]

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-08-20 10:59] bgdnsc opened #365 "How can one delete published solutions"
Hey everyone,

It is mentioned in the [doc](https://docs.microsoft.com/en-us/office/dev/store/manage-solution-names#remove-a-draft-solution) that **_if you've already published your solution to Microsoft AppSource, you can't remove it from Partner Center_** but there's no guidance on where and how to remove it, unfortunately.
Is a Support Request required in order to get a solution deleted?

Many

[2021-08-24 03:04] jean-wujingyi opened #372 "Question for mobile calendar add-in deployment"
<img width="1147" alt="Screen Shot 2021-08-24 at 10 56 55 AM" src="https://user-images.githubusercontent.com/66811843/130548566-5ab7d716-28ce-4121-84b5-0fbaf790e050.png">
<img width="810" alt="Screen Shot 2021-08-24 at 10 57 26 AM" src="https://user-images.githubusercontent.com/66811843/130548597-4a374519-9082-4a27-9543-791ea5470d81.png">

Our add-in has been published to MS add-in store. And we p

[2021-08-31 02:38] jean-wujingyi commented on #372
any updates?

[2021-08-31 02:47] jean-wujingyi opened #378 "Mobile add-in dialog box for authentication"
<img width="378" alt="Screen Shot 2021-08-31 at 10 50 42 AM" src="https://user-images.githubusercontent.com/66811843/131433789-6acf33d0-286a-43bf-b4b7-40bf85fca90f.png">
<img width="389" alt="Screen Shot 2021-08-31 at 10 51 06 AM" src="https://user-images.githubusercontent.com/66811843/131433821-d063472c-e434-4e2e-80ff-bc27a8fbcd2b.png">
I am developing calendar add-in for outlook mobile version.

[2021-08-31 08:55] #378 closed

[2021-11-24 14:10] Rinzwind opened #396 "Question on updating add-in doesn’t clarify case of unpublished previous version and user not updating"
The AppSource submission FAQ question on what happens when updating an add-in doesn’t entirely clarify what happens when the previous version is unpublished, and the user does not choose to update. Will the user continue using the previous version, or is the user blocked from using the add-in until they choose to update?

I’m referring to the following question ([source version](https://github.com

[2021-11-24 14:24] Rinzwind commented on #396
One other thing: as the ‘Note’ in the question strongly suggests to unpublish the previous version (“If you publish an updated version of your app without unpublishing a previous version, you will have two listings and will potentially split your customer base.”), it would help to have a link to information on how to do that. At the moment, looking at Partner Center, I’m not entirely sure how to e

[2021-11-24 22:47] rgwood opened #397 ""Why publish" docs about stores are super confusing"
I am trying to understand the different options for publishing an Excel add-in, and these docs left me more confused than when I started. I'll try to explain why.

I have never seen those and I had no idea where to find them in Excel. I eventually found "Get Add-ins" under the Insert ribbon (very unexpected location); I _think_ that's the Microsoft 365 app store but nowhere in the UI does it say "

[2021-12-22 02:12] daveatfuse opened #399 "Support required"
Who does one contact or how do you go about to get access to an app that belongs to your organization but the credentials have been lost? Would like to deprecate an app but have no access or even any idea as to the account that was used to manage the app. The app in question is an Outlook add-in. TIA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-01-10 09:07] aquades opened #401 "Appsource store images blurry"
Hello
The recommended size of the picture is 1366x768, but on the pages these pictures are rendered in size 1220x686. Therefore, all added pictures are blurred. Fix it in the store or update the image size guidelines.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e17b0a0-9a3e-e050-695b-4943fc118d85
* Version Independ

[2022-02-03 22:06] spg-iwilson opened #403 "Cannot submit a SharePoint app"
I cannot see the option to switch between the Commercial marketplace and the Office store. I can only create an offer for the Commercial marketplace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e562d696-605e-c4ab-226d-241e633e2b0d
* Version Independent ID: 0d9b1c63-d87c-e705-cac6-8b940449a115
* Content: [Microsoft 3

[2022-03-15 19:50] SeleneSSI opened #413 "Simple HTML tags to format the description?"
[Enter feedback here]
The article doesn't explain what do you mean by _"simple" HTML tags_ to format the Description section in the Marketplace listing?
Could we have a list of supported or non-supported tags? Or, perhaps, a more elaborated section on how to format the description?
Also, can we use Markdown?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft